.orange {
    color: var(--color-primary);
}

/*START banner */
.banner {
    position: relative;
    height: 900px;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
}

/* banner background */
.banner .bg {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.overlay-bg {
    background-image: radial-gradient(at center center, #3d3d3d 0%,
            #000000 100%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.banner .bg .mushroom-veg {
    position: absolute;
    top: 0;
    left: -8%;
}

.banner .bg .tomatoes {
    position: absolute;
    top: -10%;
    left: 30%;
    filter: drop-shadow(-15px 15px 10px black);
}

.banner .bg .veg-two {
    position: absolute;
    top: 55%;
    left: 48%;
    filter: drop-shadow(-15px 15px 10px rgba(0, 0, 0, 0.6));
}

.banner .bg .mushroom {
    position: absolute;
    top: 80%;
    right: 10%;
}

.banner .bg .veg-three {
    position: absolute;
    top: 10%;
    right: -10%;
}

.overlay-bg img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.overlay-img {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 50%;
    transform: translateY(-70%);
    left: 25%;
    opacity: 0.6;
}

/* end background */
.banner-wrapper {
    align-items: center;
    height: 100%;
}

/* banner content */
.banner h1 {
    color: white;
    font-size: 7.6rem;
    font-weight: bold;
}

.banner h2 {
    color: var(--color-secondary);
    font-size: 3.2rem;
    font-weight: bold;
}

.banner p {
    color: white;
    font-size: 1.8rem;
}


.banner-ctas {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.banner a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 40px;
    font-size: 1.4rem;
}

.banner-ctas .price {
    color: var(--color-secondary);
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    padding-right: 15px;
    margin-left: 30px;
}

.banner-ctas .full-price {
    position: absolute;
    top: 0;
    left: 100%;
    color: var(--body);
    font-size: 1.6rem;
}

/* banner imgs */
.banner-imgs {
    height: 100%;
    width: 50%;
    position: relative;
}

.banner-imgs .salt-img {
    position: absolute;
    z-index: -1;
    top: 25%;
    left: 5%;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}

/* END banner */





/* START Menus */
.menus {
    position: relative;
}

.btn-menus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);

}

.btn-menus a {
    display: flex;
    height: 50px;

    width: fit-content;
    margin: 0 auto;
    font-size: 1.4rem;
}

.menus-items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    overflow: hidden;
    padding: 50px 90px;
}

.menus-items span {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 1.3rem;
    transition: color 200ms;
}

.menus-items li {
    transition: transform 200ms;
}

.menus-items li a {
    display: block;
}

.menus-items li:hover span {
    color: var(--color-primary);
}

.menus-items li:hover {
    transform: scale(1.1);

}

.menus-items li:hover img {
    filter: drop-shadow(0px 5px 1px #00000060) drop-shadow(0px 0px 30px #ffed86c7) drop-shadow(0px 0px 10px #ffb62f);
}

/* END Menus */



/* START Offers One */

.offers-one {
    background: #f7f2e2;
    padding: 80px 0px;
}

.offers-one-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.offers-one-wrapper li {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.offers-one-wrapper .white {
    background: white;
}

.offers-one-wrapper h2 {
    font-size: 2.7rem;
    font-weight: bold;
}

.offers-one-wrapper .white h2 {
    color: black;
}


.offers-one-wrapper .white {
    font-size: 1.3rem;
    color: black;
}


.offers-one-wrapper .img-wrapper {
    aspect-ratio: 1;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 180px;
}

.offers-one-wrapper .overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
}


/* any-day */
.offers-one-wrapper .price,
.offers-one-wrapper .find-poco-contact {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 30px;
}

.offers-one-wrapper .any-day .price {
    color: var(--color-secondary);
}

.offers-one-wrapper .any-day .overlay {
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-primary);
}

/* find-poco */
.offers-one-wrapper .find-poco .find-poco-contact {
    color: var(--color-primary);
    font-size: 1.5rem;
}

.offers-one-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 10%;
}

/* flavors */
.offers-one-wrapper .flavors {
    background-image: url(../assets/images/h1_banner2.jpg);
}

.offers-one-wrapper .flavors {
    color: white;
    font-size: 1.3rem;
}

.offers-one-wrapper .flavors .price {
    color: var(--color-primary);
}

/* hover anim */
.offers-one-wrapper .img-wrapper .overlay {
    transition: 300ms;
}

.offers-one-wrapper .img-wrapper:hover .overlay {
    transform: scale(1.2);
}

/* END Offers One */




/* START products */
.products {
    padding: 100px 0;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.products .dishes-tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.products .dishes-tabs .tab {
    margin: 10px 5px;
    border: 1px solid var(--border);
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.products .dishes-cards .dish-card {
    padding: 20px 15px;
}

.products .dishes-cards .card-wrapper {
    border: 1px solid var(--border);
    border-radius: 30px;
    padding: 10px;
    padding-bottom: 20px;
    position: relative;
}

/* card img */
.products .dishes-cards .card-wrapper .card-img {
    padding: 20px 0;
    position: relative;
}

.products .dishes-cards .card-wrapper .card-img .dish-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.products .dishes-cards .card-wrapper .card-img .sale-tag {
    display: none;
    position: absolute;
    left: 5%;
    top: 5%;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2px 10px;
    background-color: black;
    border-radius: 20px;
}

.products .dishes-cards .card-wrapper.sale .card-img .sale-tag {
    display: block;
}

.products .dishes-cards .card-wrapper .card-img .wish-icon {
    display: block;
    font-size: 2rem;
    position: absolute;
    z-index: 3;
    right: 5%;
    top: 5%;
    color: rgb(226, 226, 226);
    transition: color 100ms;
}

.products .dishes-cards .card-wrapper .card-img .wish-icon:hover {
    color: black;
}

.products .dishes-cards .card-wrapper .card-img img {
    width: 80%;
    display: block;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    transition: transform 300ms ease-in-out;
}

.products .dishes-cards .card-wrapper .card-img::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: var(--color-primary);
    opacity: 0.1;
    border-radius: 20px;
    transition: all 300ms ease-in-out;
}

.products .dishes-cards .card-wrapper:hover .card-img img {
    transform: scale(1.2);
}

.products .dishes-cards .card-wrapper:hover .card-img::before {
    height: 100%;
    opacity: 1;
}

/* card body */
.products .dishes-cards .card-wrapper .card-body {
    margin-top: 40px;
    padding: 0 10px;
}

.products .dishes-cards .card-wrapper .card-body h3 {
    font-size: 1.8rem;
}

.products .dishes-cards .card-wrapper .card-body .description {
    font-size: 1.4rem;
}

.products .dishes-cards .card-wrapper .card-body .card-body-bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.products .dishes-cards .card-wrapper .card-body .price {
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-primary);
}

.products .dishes-cards .card-wrapper .card-body .price.discounted {
    color: var(--light);
    font-size: 1.6rem;
    text-decoration: line-through;
    margin-right: 10px;
}

.products .dishes-cards .card-wrapper .card-body .card-shopping-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 15px;
    transition: 200ms;
}


.products .dishes-cards .card-wrapper .card-body .card-shopping-cart i {
    color: black;
    transition: 200ms;
}

.products .dishes-cards .card-wrapper .card-body .card-shopping-cart:hover {
    background-color: #f0af0c;
}

.products .dishes-cards .card-wrapper .card-body .card-shopping-cart:hover i {
    color: white;
}

.products .products-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.products .products-link a {
    font-size: 1.4rem;
    padding: 20px 40px;
}

/* END products */



/* START Ads */

.pizza-offer {
    height: 550px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
}

.pizza-offer .overlay-bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.pizza-offer .overlay-bg img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.pizza-offer .overlay-pizza {
    position: absolute;
    bottom: 0;
    left: 5%;
    display: flex;
    align-items: flex-end;
    transform: translateY(15%);
}

.pizza-offer .discount-img {
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    height: 216px;
}

.pizza-offer .discount-img .scale-fix {
    width: 100%;
    height: 100%;
}

.pizza-offer .discount-img img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.pizza-offer .discount-img .discount-body {
    position: absolute;
    top: 12%;
    left: 18%;
    text-align: center;
}

.pizza-offer .discount-img .discount-body .get-up {
    font-family: var(--font-deco);
    color: black;
    font-weight: bold;
    padding-right: 8px;
}

.pizza-offer .discount-img .discount-body .percent {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    color: var(--color-primary);

}

.pizza-offer .discount-img .discount-body .off {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    color: black;
    padding-right: 8px;
}

/* ads body */

.pizza-offer .pizza-offer-body {
    width: 40%;
    position: relative;
    z-index: 2;
    padding-bottom: 50px;
}

.pizza-offer .pizza-offer-body .hot {
    font-family: var(--font-deco);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    filter: drop-shadow(4px 1px 3px rgba(0, 0, 0, 1));
}

.pizza-offer .pizza-offer-body .pizza {
    position: relative;
    color: #ffcd02;
    font-size: 15rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 10px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.4));
    margin-bottom: 70px;
    display: inline-block;
}

.pizza-offer .pizza-offer-body a {
    display: inline-block;
    background-color: white;
    font-size: 1.5rem;
    padding: 18px 40px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    transition: all 200ms;
}

.pizza-offer .pizza-offer-body a:hover {
    background-color: var(--color-primary);
}

.pizza-offer .pizza-offer-body .pizza .lightning-icon {
    position: absolute;
    /* top: 0; */
    height: fit-content;
}

.pizza-offer .pizza-offer-body .pizza .lightning-icon.one {
    width: 50px;
    right: 20%;
    top: -74%;

}

.pizza-offer .pizza-offer-body .pizza .lightning-icon.two {
    width: 90px;
    right: 2%;
    top: -50%;
}

/* END Ads */
/* Start Comment */

.clients {
    height: 500px;
    background: #f7f2e2;
}

.comment-wrapper {
    width: 100%;
    height: 100%;
}

.comment-wrapper .comment-title {
    padding-top: 80px;
    text-align: center;
}

.comment-lists {
    width: 100%;
}

.comment-lists-wrapper {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-lists-wrapper .conment-card {
    width: calc(100%/3 - 20px);
    height: 255px;
    border-radius: 4px;
    background-color: white;
    padding: 40px;
    margin: 10px;
}

.conment-card .conment-header {
    display: flex;
    justify-content: space-between;
}

.conment-card .conment-info {
    display: flex;
    height: 90px;
}

.conment-info .avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.conment-info .info .name {
    color: var(--header);
    font-family: 'gilroy';
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.conment-info .info .job {
    color: var(--light);
    font-family: 'gilroy';
    font-size: 14px;
}

.conment-info .avatar img {
    border-radius: 50%;
    object-fit: fill;
}

.conment-header .rate {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.conment-header .rate .fa-star {
    color: #ffc900;
    width: calc(100%/5 - 5px);
}


.slick-prev {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    border: none;
    z-index: 2;
}

.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    z-index: 2;
    border: none;
}

.slick-arrow {
    background: none;
}

.slick-arrow .bi {
    font-size: 25px;
    opacity: 0.3;
}

.slick-arrow .bi:hover {
    font-size: 25px;
    opacity: 1;
}

.slick-dots {
    position: absolute;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    bottom: -20px;
}

.slick-dots li {

    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.slick-dots button {
    background-color: var(--color-primary);
    width: 14px;
    border: 0;
    opacity: .4;
    display: block;
    height: 6px;
    width: 8px;
    border-radius: 3px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 0;
    cursor: pointer;
}

.slick-dots .slick-active button {
    width: 18px;
    background-color: var(--color-primary);
    opacity: 1;
}


/* End Comment */



/* Start Top-recipes*/

.recipes-wrapper {
    margin-top: 80px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.recipes-left {
    width: 68%;
    height: 100%;
}

.recipes-left-title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.recipes-product {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 20px 30px;
}

.recipes-product .product-card {
    border: 1px solid var(--border);
    border-radius: 30px;
    padding: 10px;
    background: white;
    width: 100%;
    height: auto;
}

.recipes-product .product-card .bg {
    border-radius: 25px;
    padding: 10px;
    background-color: #f7f2e2;
}



.recipes-product .product-card .card-wrapper {
    display: flex;
    justify-content: flex-start;
}

.recipes-product .card-wrapper .card-img {
    width: 30%;
}

.recipes-product .card-wrapper .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
    width: 70%;
    position: relative;
}

.recipes-product .card-wrapper .card-body h3 {
    font-size: 16px;
}

.recipes-product .card-wrapper .card-body h3:hover {
    color: var(--color-primary);
}

.recipes-product .card-wrapper .card-body a {
    color: var(--light);
    font-size: 13px;
}

.recipes-product .card-wrapper .card-body a:hover {
    color: var(--color-primary);
}

.recipes-product .card-wrapper .card-body .price.discounted {
    text-decoration-line: line-through;
    margin-right: 5px;
    font-size: 13px;
    font-weight: 700;
    color: var(--light);
}

.recipes-product .card-wrapper .card-body .price {
    font-weight: 700;
    color: var(--color-primary);
}

.recipes-product .card-shopping-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 0;

}

.recipes-product .card-shopping-cart i {
    color: var(--dark);
    transition: 0.2s;
}

.recipes-product .card-shopping-cart:hover i {
    color: white;
}

.recipes-right {
    width: 30%;
    position: relative;
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 20px;
}

.recipes-right-banner {
    width: auto;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

.recipes-right .image {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: 20px;
    z-index: 10;
}

.recipes-right-banner .title {
    font-family: 'norican';
    color: white;
    font-size: 42px;
}

.recipes-right-banner .name {
    font-size: 70px;
    font-weight: 700;
    color: var(--red);
}

.recipes-right-banner .call {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.recipes-right-banner .phone {
    font-size: 30px;
    font-weight: 700;
    color: var(--red);
}

.recipes-right .image img {
    scale: 1.2;
    object-fit: fill;
    height: 100%;
}



/* End Top-recipes*/





/* Start Offers-two */
.offers-two {
    height: 500px;
    background: var(--color-secondary);
}

.offers-two-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.offers-two-banner {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.offers-two-banner.one {
    background-color: #00a850;
    z-index: 1000;
}

.offers-two-banner.two {
    background-color: #db731e;
    z-index: 2000;
}

.offers-two-banner.three {
    background-color: #ffc900;
    z-index: 3000;
}

.offers-two-banner .offers-content {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 1000;
}

.offers-two-banner .offers-widget {
    font-family: 'norican';
    font-size: 42px;
    color: white;
}

.offers-two-banner .offers-heading {
    color: var(--color-primary);
    font-size: 90px;
    text-transform: capitalize;
    line-height: 90px;
    letter-spacing: -2.5px;
    text-shadow: 2px 0 6px #00a850;
    margin-bottom: 20px;
}

.offers-two-banner .offers-heading.red {
    color: var(--red);
    font-size: 90px;
    text-transform: capitalize;
    line-height: 90px;
    letter-spacing: -2.5px;
    text-shadow: 2px 0 6px #ffc900;
}

.offers-two-banner .offers-name {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.offers-two-banner .offers-price {
    color: var(--color-primary);
    font-size: 40px;
    margin-bottom: 20px;
}

.offers-two-banner .btn-primary {
    background-color: white;
    padding: 1.5em 3em;
    color: black;
    transition: 0.3s;
}

.offers-two-banner .btn-primary:hover {
    background-color: var(--dark);
    padding: 1.5em 3em;
    color: white;

}

.offers-two-banner .offers-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    overflow: hidden;
}

.offers-two-banner .offers-image .offers-image-main {
    width: 100%;
    height: 95%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    right: 0;
    transform: translateX(40%);
}

.offers-two-banner .offers-image .offers-image-main img {
    max-width: 100%;
    object-fit: fill;
}

.offers-two-banner .offers-image .offers-image-hover {
    width: 100%;
    height: 95%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    right: 0;
    transform: translateX(20%);

}

.offers-two-banner .offers-image .offers-image-hover img {
    max-width: 100%;
    object-fit: fill;
    transform: scale(0);
    transition: 0.5s;
}

.offers-two-banner:hover .offers-image .offers-image-hover img {
    transform: scale(0.8);

}

.offers-two-banner.three .offers-price {
    color: black;
}

/* End Offers-two */





/* Start Lastest News */
.news {
    height: auto;
}

.news-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.news-title-wrapper {
    display: flex;
}

.news-title-wrapper a {
    margin-right: 10px;
    color: var(--header);
}

.news-title-wrapper a:hover {
    color: var(--color-primary);
}

.news-title-wrapper .button {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    font-size: 12px;
    color: white;
    background-color: var(--color-secondary);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.news-title-wrapper .button:hover {
    color: white;
}

.news-content-wrapper {
    width: 100%;
    margin-bottom: 50px;
}

.news-content-list {

    display: flex;
    justify-content: space-between;

}

.news-content-list .news-content-card {
    border: 0.2px solid var(--border);
    width: calc(100%/3 - 20px);
    border-radius: 12px;
}

.news-content-list .news-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 12px;
}

.news-content-list .news-image img {
    transition: all .2s ease-in-out;
    object-fit: fill;


}

.news-content-list .news-content {
    margin: 30px;
}

.news-content-list .news-content .entry-meta {
    display: flex;
}

.news-content-list .entry-meta a {
    font-size: 13px;
    color: var(--light);
    margin-bottom: 10px;
}

.news-content-list .entry-meta span {
    font-size: 13px;
    color: var(--light);
    margin-bottom: 10px;
}

.entry-meta a:hover {
    font-size: 13px;
    color: var(--color-primary);
}

.news-content-list .news-content h3 a {
    color: var(--header);
}

.news-content-list .news-content h3 a:hover {
    color: var(--color-primary);
}

.news-content-list .news-content p {
    color: var(--light);
    padding-top: 10px;
    padding-bottom: 20px;
}

.news-content .btn-primary {
    padding: 1.4em 2.5em;
}

.news-content .btn-primary:hover {
    color: white;
    background-color: var(--primary-hover);
}

.news-content-list .news-content-card:hover .news-image img {
    transform: scale(1.2);
}

/* End Lastest News */









/* placeholder */






.top-recipes {
    height: 700px;
}