.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2.5em;
    background-color: var(--color-primary);
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    transition: color 200ms;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
}